# dependencies
node_modules/
.npm

# Next.js
.next/
out/
build/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# misc
*.pem
tsconfig.tsbuildinfo
.vercel

# factuur-app API key
factuur-app/config.js
